[submodule "air-health/Classes/SwiftyJSON"]
	path = air-health/Classes/SwiftyJSON
	url = https://github.com/SwiftyJSON/SwiftyJSON.git
[submodule "air-health/Classes/SwiftCSV"]
	path = air-health/Classes/SwiftCSV
	url = https://github.com/naoty/SwiftCSV.git
[submodule "air-health/Classes/GradientSlider"]
	path = air-health/Classes/GradientSlider
	url = https://github.com/jonhull/GradientSlider.git
[submodule "air-health/Classes/IOStickyHeader"]
	path = air-health/Classes/IOStickyHeader
	url = https://github.com/BenjaminPrieur/IOStickyHeader.git
